<a href="https://colab.research.google.com/github/Amarsinh0/control-and-flow-statements/blob/main/inverted%20half%20pyramid%20of%20numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1= "ARTIFICIAL INTELLIGENCE"
reverse = str1[::-1]
print("Reverse String is: ",reverse)

Reverse String is:  ECNEGILLETNI LAICIFITRA

In [ ]:
# write a programin python to check the sequance in palindrome
a=input("Enter sequance ")
b=a[::-1]
if a==b:
  print(" it is palindrome")
else:
  print(" not a palindrome")

Enter sequance malayalam
 it is palindrome

In [ ]:
# find the factorial of number using python progarm:
n=int(input("Enter the number : "))
num=1
if n < 0 :
   print(" sorry!factorial do not exist for negative numbers")

elif n==0:
  
  print(" The factorial of 0 is 1")

else:
  for i in range(1,n+1):
    num = num * i

  print("factorial of",n,"is: ",num)

Enter the number : 6
factorial of 6 is:  720

In [ ]:
#program to make half pyramid using *

rows=int(input("Enter the number of rows:  "))
for i in range(rows):
  for j in range(i+1):
    print("* ",end='')
  print ("\n")

Enter the number of rows:  6
*

* *

* * *

* * * *

* * * * *

* * * * * *

In [ ]:
# program to inverted half pyramid using * in python
rows=int(input("Enter the number of rows:  "))
for i in range(rows,0,-1):
  for j in range(0,i):
                 
    print("* ",end=" ")
  print('\n')

Enter the number of rows:  5
*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

In [ ]:
# program to inverted half pyramid using numbers in python
rows=int(input("Enter the number of rows: "))
for i in range(rows,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print("\n")

Enter the number of rows: 5
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [ ]:
# python pattern program: pyramid of "*"
rows=int(input("Enter the number of rows : "))
for i in range(0,rows):
  for j in range(0,rows-i-1):
    print(end=" ")
  for j in range (0,i+1):
    print('*',end=" ")
  print()

Enter the number of rows : 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
rows= int(input("Enter the number of rows :"))
for i in range(rows,0,-1):
  for j in range(0,rows-i):
    print(end=" ")
  for j in range(0,i):
    print("* ",end=" ")
  print()

Enter the number of rows :5
*  *  *  *  *
 *  *  *  *
  *  *  *
   *  *
    *

In [ ]:
#print diamond shape pattern by using "*"in python:
rows=int(input("Enter the number of rows: "))
def pyramid(rows):
  for i in range(rows):
    print(''*(rows-i-1) + "* "*(i+1))
  print() 
  for j in range(rows-1,0,-1):
    print(''(rows-j)+"* "*(j))
  print()

Enter the number of rows: 6

In [ ]:
# print inverted right angle trangle by using "*" in python
num=int(input("Enter th number of rows: "))
for i in range(num,0,-1):
  for j in range(i):
    print("* ",end=" ")
  print()

Enter th number of rows: 6
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [ ]:
# print a shape pattern by using "*" in python
# first we will make rough seleton of rows*column
for row in range(7):      # here we take 6 rows 

   for col in range(5):   # here we take 4 column  

     if ((col==0 or col==(4)) and row!=0) or ((row==0 or row==3) and (col>0 and col<4)):
        print("*",end="")
    
     else:
        print(end=" ")
   print()

 ***
*   *
*   *
*****
*   *
*   *
*   *